.App{
  width: 95vw;
  margin-left: 2%;
  margin-right: 2%;
}
/* form start*/
.formContainer{
  min-height: 200px;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.formCard{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 300px;
  background: rgba(59, 254, 231, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgba(59, 254, 231, 0.3);
}
.formSection{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.formSection label {
  color: black;
  font-weight: bold;
}


.input {
	font-size: 14px;
	padding: 7px 10px;
	width: 85%;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #000000;
	border-radius: 10px;
	transition: .3s ease;
}

.input:focus {
	background: #F2F2F2;
	border: 1px solid #5A7EC7;
	border-radius: 10px;
}
.btnsubmit {
	background-color:transparent;
  background: #F2F2F2;
	border-radius:42px;
	border:2px solid #090a09;
	display:inline-block;
	cursor:pointer;
	color:#050505;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:7px 27px;
	text-decoration:none;
  margin-top: 2%;
}
.btnsubmit:active {
	position:relative;
	top:1px;
}


/* formfinish */
.feedBackSection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
p {
  margin: 0;
}
p:not(:last-child) {
  margin-bottom: 1.5em;
}

.feedbackContainer {
  width: 300px;
  min-height: 50px;
  max-height: 200px;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}
.feedbackContainerName {
  font-size: 0.65em;
  color: #446;
}